@charset "utf-8";

.container {
    height: 100%;
    display: flex;
    justify-content: center;
}

.loader {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movies {
    display: grid;
    grid-template-columns: repeat(2, minmax(400px, 1fr));
    grid-gap: 100px;
    padding: 70px 50px 50px 50px;
    width: 80%;
    margin-top: 140px;
}

.navWrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 
                0 8px 16px -8px rgba(0, 0, 0, 0.3), 
                0 -6px 16px -6px rgba(0, 0, 0, 0.025);
    background-color: #fff;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding: 20px 20px;
    z-index: 1;

}

/* .navWrap > .navBtn + .navBtn {
    margin-left: 10px;
} */

.navBtn {
    border: none;
    background-color: #eee;
    width: 80px;
    line-height: 80px;
    vertical-align: middle;
    transition: all 0.3s;
    border-radius: 3px;
    cursor: pointer;
    white-space: nowrap;
}

.navBtn:hover {
    background-color: #cab4b4;
    width: 75px;
    line-height: 50px;
    border-radius: 5px;
    color: #fff
}

@media screen and (max-width: 1090px) {
    .movies {
        grid-template-columns: 1fr;
        width: 100%;
    }
}